<div class="page-head">
About
</div>
<br>
<body>
<div class="about-body">
	<div class="about-title">
		Travvl's goal is twofold:
	</div>
	<br>
	<dl>
		<dt>1. To bring context to the world of travel.</dt>
		<dd>Everyone expirences a trip differently depending on the context in which they travel.  Whether you travel with a group of friends, your spouse on a honeymoon, or for a family vacation, the expirence of a place and the things you do while you visit will be different.  Instead of reading ratings and reviews of things that might not fit in the context you are traveling, look at things that do.  There is a whole world out there and there are many different ways to expirence it. Plan your next trip in a way that's relevant to you!</dd>
		<br>
		
		<dt>2. To gather and present every-day cultural data to help orient people to different ways of life.</dt>
		<dd>Travvl is also a place to help you get out and explore those things that are not in your travel guide.  For those that don't care for the unknown, we can help you feel more comfortable navigating another culture to find those hidden gems.  By bringing basic cultural information like how much you should tip or pay for a cab, along with information about "non-touristy" places, you will be able to feel much more comfortable exploring on your own!</dd>
</div>
</body>
