$baseFontFamily: 'Averia Serif Libre', cursive;
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300);

@import 'bootstrap';

body {
	padding-top: 60px;
	/*background-color: FF9600*/
}

@import 'bootstrap-responsive';

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	font-size: 12px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 8px;
	box-shadow: 1px 1px 10px #444;
	width: 270px;
}

.box img {
	display: block;
	width: 100%;
}

.description {
	margin: 7px 6px 3px;
	font-size: 19px;
	text-transform: capitalize;
}

.author {
	margin: 5px 6px 5px;
}