$baseFontFamily: 'Averia Serif Libre', cursive;
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300);

$navbarBackgroundHighlight: #FFD69F;
$navbarBackground: #FFD69F;
$navbarLinkColor: black;
$navbarHeight: 50px;

/* For Orange Navbar*/
/*$navbarBackgroundHighlight: #FCE9D0;*/
/*$navbarBackground: #FFB450;*/

@import 'bootstrap';

body {
	padding-top: 60px;
	background-color: #99cbff;
	/*LightSlateGray #778899; Robins Egg #e6f9f9; orange #FFD69F or #FFE5C2*/
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 8px;
	box-shadow: 1px 1px 10px #444;
	width: 270px;
	background-color: white;
}

.box img {
	display: block;
	width: 100%;
}

.headline {
	margin: 7px 5px 4px;
	font-size: 19px;
	text-transform: capitalize;
}

.author {
	margin: 5px 6px 5px;
}