$baseFontFamily: 'Averia Serif Libre', cursive;
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300);

@font-face{ 
	font-family: 'rieslingregular';
src: url('riesling-webfont.eot');
src: url('riesling-webfont.eot?#iefix') format('embedded-opentype'),
     url('riesling-webfont.woff') format('woff'),
     url('riesling-webfont.ttf') format('truetype'),
     url('riesling-webfont.svg#rieslingregular') format('svg');
font-weight: normal;
font-style: normal;
}


$navbarLinkColor: black;
$navbarHeight: 50px;

@import 'bootstrap';


@import 'bootstrap-responsive';

body {
	padding-top: 60px;
	background-image: image-url("bg_gradient.jpg");
	background-size: cover !important;
	background-attachment: fixed;
	background-position: top left; 
	/*LightSlateGray #778899; Robins Egg #e6f9f9;*/
}

.navbar-search .search-query {
	background: rgba(255, 255, 255, 0.7);
}

.navbar-inner{
	background: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	text-align: bottom;
	/* to get rid of shadowing
    @include box-shadow(none !important);
    border: 0;*/
}

.invite {
	padding-top: 18px;
}

/*
In place of Hero Unit
.welcome{
	align: center;
	width: 1000px;
	height: 412px;
	font-size: 20px;
	background: rgba(255, 255, 255, 0.3);
	padding:40px;
	padding-bottom: 50px;
	border: 2px solid white;
	margin-left: 10px;
}*/

.navbar .brand {
	font-family: 'rieslingregular', Arial, sans-serif;
	font-size: 53px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.hero-unit {
	font-size: 20px;
	background: rgba(255, 255, 255, 0.3);
	padding:40px;
	padding-bottom: 50px;
	border: 2px solid white;
	margin-left: 6px;
	width: 1060px;
}

.banner {
	font-family: 'rieslingregular', Arial, sans-serif;
	font-size: 85px;
	text-transform: capitalize;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	font-size: 11px;
	line-height: 1.4em;
	text-align: center;
	float: left;
	border: 2px solid white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 8px;
	box-shadow: 1px 1px 10px #444;
	width: 270px;
	background: rgba(255, 255, 255, 0.4)
}

.box img {
	display: block;
	width: 100%;
}

.headline {
	margin: 7px 5px 4px;
	font-size: 19px;
	text-transform: capitalize;
}

.author {
	margin: 5px 6px 5px;
}

.form {
	font-size: 13px;
	margin: 7px 5px 4px;
}

.hr {
	color: black;
	background-color: black;
}

.form-actions {
	background-color: rgba(0, 0, 0, 0);
}

.page-head {
	font-family: 'rieslingregular', Arial, sans-serif;
	font-size: 90px; /*6vw for scalable based on container size*/
	text-align: center;
	text-transform: uppercase;
	padding-top: 45px;
	padding-bottom: 40px;
	letter-spacing: 1px;
}

.about-title {
	font-size: 30px;
	padding-bottom: 12px;
}

.about-body {
	font-size: 16px;
	line-height: 120%;
}
